<!-- chat_app/templates/chat.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
</head>
<body>
    <h1 id="terminalId">Terminal: Connecting...</h1>
    <ul id="messages"></ul>
    <input id="messageInput" autocomplete="off" /><button onclick="sendMessage()">Send</button>
    <input id="simulationRuns" value="1" />
    <button onclick="runSimulation(document.getElementById('simulationRuns').value)">Run Simulation</button>

    <script>
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#messages').innerHTML += ('<li>' + data.message + '</li>');
        };

        function sendMessage(msg) {
            const messageInput = document.getElementById('messageInput');
            const message = msg || messageInput.value;
            chatSocket.send(JSON.stringify({'message': message}));
            messageInput.value = '';
        }

        function runSimulation(count){

            let c = count || 1
            // Send 100 messages
            for(let j = 1; j <= c; j++){
                for (let i = 1; i <= 100; i++) {
                    const message = `Run: ${j} Message ${i}`;
                    sendMessage(message);
                }            
            }
        }

        // You'll need to implement the same logic for deviceName as in your Node.js app.
    </script>
</body>
</html>
